<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tambah Mahasiswa</title>
</head>
<body>
    <center>
        <h1>Form Edit Mahasiswa</h1>
        <form action="/mahasiswa/editMahasiswa/<%=dataMahasiswa.id%>" method="POST">
            <label for="name">Nama :</label>
            <input type="text" name="nama" value="<%=dataMahasiswa.nama%>"><br><br>
            <label for="nim">NIM :</label>
            <input type="text" name="nim" value="<%=dataMahasiswa.nim%>"><br><br>
            <label for="alamat">Alamat :</label>
            <input type="text" name="alamat" value="<%=dataMahasiswa.alamat%>"><br><br>
            <label for="jurusan">Jurusan :</label>
            <select name="jurusan">
                <option value="" selected disabled>--Pilih Jurusan--</option>
                <option value="ekonomi" <%=dataMahasiswa.jurusan === 'ekonomi' ? 'selected' : '' %>>Ekonomi</option>
                <option value="psikologi" <%=dataMahasiswa.jurusan === 'psikologi' ? 'selected' : '' %>>Psikologi</option>
                <option value="teknik_informatika" <%=dataMahasiswa.jurusan === 'teknik_informatika' ? 'selected' : '' %>>Teknik Informatika</option>
                <option value="manajemen" <%=dataMahasiswa.jurusan === 'manajemen' ? 'selected' : '' %>>Manajemen</option>
                <option value="astronomi"  <%=dataMahasiswa.jurusan === 'astronomi' ? 'selected' : '' %>>Astronomi</option>
                <option value="ilmu_politik"  <%=dataMahasiswa.jurusan === 'ilmu_politik' ? 'selected' : '' %>>Ilmu Politik</option>
                <option value="hukum" <%=dataMahasiswa.jurusan === 'hukum' ? 'selected' : '' %>>Hukum</option>
                <option value="ilmu_komunikasi" <%=dataMahasiswa.jurusan === 'ilmu_komunikasi' ? 'selected' : '' %>>Ilmu Komunikasi</option>
            </select>  <br><br>
            <input type="submit" value="Save">
        </form>
    </center>
</body>
</html>