
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styleNavbar.css">
    <style>
        form {
    margin: auto;
}

.main-style{
	max-width: 60%;
	padding: 10px 20px;
	background: #f4f7f8;
	margin: 5% auto;
	padding: 20px;
	background: #f4f7f8;
	border-radius: 8px;
	font-family: Georgia, "Times New Roman", Times, serif;
}
.main-style fieldset{
	border: none;
}
.main-style legend {
	font-size: 1.4em;
	margin-bottom: 10px;
}
.main-style label {
	display: block;
	margin-bottom: 8px;
}
.main-style input[type="text"],

.main-style select {
	font-family: Georgia, "Times New Roman", Times, serif;
	background: rgba(255,255,255,.1);
	border: none;
	border-radius: 4px;
	font-size: 15px;
	margin: 0;
	outline: 0;
	padding: 10px;
	width: 100%;
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	background-color: #e8eeef;
	color:#8a97a0;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	margin-bottom: 30px;
}
.main-style input[type="text"]:focus,
.main-style input[type="date"]:focus,
.main-style input[type="datetime"]:focus,
.main-style input[type="email"]:focus,
.main-style input[type="number"]:focus,
.main-style input[type="search"]:focus,
.main-style input[type="time"]:focus,
.main-style input[type="url"]:focus,
.main-style textarea:focus,
.main-style select:focus{
	background: #d2d9dd;
}
.main-style select{
	-webkit-appearance: menulist-button;
	height:35px;
}

.main-style input[type="submit"],
.main-style input[type="button"]
{
	position: relative;
	display: block;
	padding: 19px 39px 18px 39px;
	color: #FFF;
	margin: 0 auto;
	background: #1a8aac;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	width: 30%;
	/* border: 1px solid #0a2638; */
	border-width: 1px 1px 3px;
    margin-bottom: 10px;
    border-radius: 20px;
}
.main-style input[type="submit"]:hover,
.main-style input[type="button"]:hover
{
	background: #6db3c9;
}

    </style>
    <title>Form Tambah Mahasiswa</title>
</head>
<body>
    <%- include('_partialNavbar') %>
    <div class="main-style">

        <form action="/mahasiswa/editMahasiswa/<%=dataMahasiswa.id%>" method="POST">
        <fieldset>
        <center><legend> Biodata</legend></center>
        <label for="">Nama Lengkap :</label>
        <input type="text" name="name" value="<%=dataMahasiswa.nama%>"><br>
        <label for="">NIM :</label>
        <input type="text" name="nim" value="<%=dataMahasiswa.nim%>"><br>
        <label for="">Alamat :</label>
        <input type="text" name="alamat" value="<%=dataMahasiswa.alamatUpper%>"><br>
        <label for="job">Jurusan:</label>
        <select id="job" name="jurusan">
        <option value="" selected disabled>Pilih Jurusan</option>
        <optgroup label="Fakultas Teknik">
          <option value="teknik_Sipil" <%=dataMahasiswa.jurusan === 'teknik_Sipil' ? 'selected' : '' %>>Teknik Sipil</option>
          <option value="teknik_Informatika" <%=dataMahasiswa.jurusan === 'teknik_Informatika' ? 'selected' : '' %>>Teknik Informatika</option>
          <option value="teknik_Kimia" <%=dataMahasiswa.jurusan === 'teknik_Kimia' ? 'selected' : '' %>>Teknik Kimia</option>
          <option value="teknik_Mesin" <%=dataMahasiswa.jurusan === 'teknik_Mesin' ? 'selected' : '' %>>Teknik Mesin</option>
          <option value="teknik_Industri" <%=dataMahasiswa.jurusan === 'teknik_Industri' ? 'selected' : '' %>>Teknik Industri</option>
        </optgroup>
        <optgroup label="Fakultas Ekonomi">
          <option value="ilmu_akuntansi" <%=dataMahasiswa.jurusan === 'ilmu_akuntansi' ? 'selected' : '' %>>Akuntansi</option>
          <option value="ilmu_manejemen" <%=dataMahasiswa.jurusan === 'ilmu_manejemen' ? 'selected' : '' %>>Manejemen</option>
        </optgroup>
        <optgroup label="Fakultas Kedokteran">
          <option value="ilmu_kedokteran" <%=dataMahasiswa.jurusan === 'ilmu_kedokteran' ? 'selected' : '' %>>Kedokteran</option>
          <option value="kedokteran_Gigi" <%=dataMahasiswa.jurusan === 'kedokteran_Gigi' ? 'selected' : '' %>>Kedokteran Gigi</option>
          <option value="ilmu_psikologi" <%=dataMahasiswa.jurusan === 'ilmu_psikologi' ? 'selected' : '' %>>Psikologi</option>
        </optgroup>
        <optgroup label="Fakultas Hukum">
          <option value="ilmu_Hukum" <%=dataMahasiswa.jurusan === 'ilmu_Hukum' ? 'selected' : '' %>>Ilmu Hukum</option>
        </optgroup>
        <optgroup label="Fakultas Teknolgi">
          <option value="sistem_Informasi" <%=dataMahasiswa.jurusan === 'sistem_Informasi' ? 'selected' : '' %>>Sistem Informasi</option>
          <option value="teknologi_Informasi" <%=dataMahasiswa.jurusan === 'teknologi_Informasi' ? 'selected' : '' %>>Teknologi Informasi</option>
        </optgroup>
        <optgroup label="Fakultas Pertanian">
          <option value="agri_bisnis" <%=dataMahasiswa.jurusan === 'agri_bisnis' ? 'selected' : '' %>>Agribisnis</option>
          <option value="agro_teknologi" <%=dataMahasiswa.jurusan === 'agro_teknologi' ? 'selected' : '' %>>Agroteknologi</option>
        </optgroup>
        </select>      
        </fieldset>
        <input type="submit" value="Simpan" />
        </form>

        </div>
</body>
</html>
