<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daftar Mahasiswa</title>
</head>

<body>
    <center>
        <h1>Daftar Mahasiswa</h1>
        <form action="/mahasiswa/<%=mahasiswa.id %>/matakuliah/add" method="POST">
        <select name="matkul">
            <option value="" selected disabled>--Pilih Mata Kuliah--</option>
            <% for (let i=0; i<matakuliah.length; i++ ) {%>

                <option value="<%= matakuliah[i].id%>"><%= matakuliah[i].namaMatkul%></option>

            <%}%>
           </select>  <br><br>
           <input type="submit" value="Save">
        </form>
        <br><br>

        <table border=1>
            <tr>
                <th>Mata Kuliah</th>
                <th>sks</th>
            </tr>

            <% for(let i=0; i<mahasiswa.Matakuliahs.length; i++){ %>
            <tr>
                <td><%= mahasiswa.Matakuliahs[i].namaMatkul %></td>
                <td><%= mahasiswa.Matakuliahs[i].sks %></td>
            </tr>
            <% } %>

        </table>
    </center>
</body>

</html>